* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
}

.contenedor {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
  min-width: 400px;
}

.gridPadre {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: 130px auto 50px;
  grid-template-columns: auto;
  height: 800px;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

@media (max-width: 930px) {
  .gridPadre {
    grid-template-rows: 20% auto 50px;
  }
  header .contenedorHeader {
    display: flex;
    flex-direction: column;
    padding: 5px;
  }
  header .contenedorHeader .contenedorSeparador {
    margin-top: 5px;
  }
  header .contenedorHeader .contenedorSeparador button {
    margin: 0 4px;
    min-width: 65px;
  }
  header .contenedorHeader .contenedorBusqueda {
    margin-top: 5px;
    min-width: 280px;
  }
  header .contenedorHeader .contenedorLogo {
    height: auto;
  }
  .tarjetas {
    width: auto;
  }
}
header {
  background-image: url(../img/coposNieve.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
header .contenedorHeader {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}
header .contenedorHeader .contenedorBusqueda {
  display: flex;
  width: 50%;
}
header .contenedorHeader .contenedorBusqueda .botonBusqueda {
  font-size: 2rem;
  border-radius: 10px;
  height: 40px;
  width: 40px;
}
header .contenedorHeader .contenedorBusqueda #busqueda {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding-left: 10px;
}
header .contenedorHeader .contenedorLogo {
  text-align: center;
  width: auto;
}
header .contenedorHeader .contenedorLogo a {
  font-size: 40px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}
header .contenedorHeader .contenedorSeparador {
  width: 20%;
  display: flex;
  justify-content: space-around;
}
header .contenedorHeader .contenedorSeparador a {
  text-decoration: none;
  color: black;
}
header .contenedorHeader .contenedorSeparador button {
  width: 40%;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
}
header .contenedorHeader .contenedorSeparador button:hover {
  background-color: rgb(191, 209, 241);
  transition: 0.5s;
}

main {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/fondoMain.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main .categorias {
  background-color: rgb(191, 209, 241);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4vh;
}
main .categorias a {
  padding-left: 20px;
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
  font-weight: bold;
}
main .categorias a:hover {
  color: white;
}

#hero {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/hero.jpg);
  height: 90vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 15px;
}
#hero .tituloHero {
  color: rgb(191, 209, 241);
  font-size: 3rem;
  font-weight: bold;
}
#hero .subtituloHero {
  color: rgb(191, 209, 241);
  font-size: 2rem;
  font-weight: bold;
}

.contenedorCard {
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.contenedorCard .tarjetas {
  background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgba(52, 161, 237, 0.543855042) 0%, rgba(0, 212, 255, 0.437412465) 100%);
  border: 1px solid;
  border-radius: 10px;
  width: 156px;
  height: 300px;
  gap: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;
}
.contenedorCard .tarjetas:hover {
  border: 1px solid rgb(130, 195, 238);
}
.contenedorCard .tarjetas .tarjetaImagen {
  display: block;
}
.contenedorCard .tarjetas .tarjetaImagen img {
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
  width: 90px;
  height: 90px;
}
.contenedorCard .tarjetas .tarjetaNombre {
  display: block;
  height: 40px;
}
.contenedorCard .tarjetas .tarjetaPrecio {
  display: block;
}
.contenedorCard .tarjetas .tarjetaTipo {
  display: block;
  height: 40px;
}
.contenedorCard .tarjetas .tarjetaBoton {
  display: block;
}
.contenedorCard .tarjetas .button {
  border: 1px solid blue;
  border-radius: 5px;
  width: 40px;
  height: 30px;
  cursor: pointer;
}
.contenedorCard .tarjetas .button:hover {
  background-color: rgb(191, 209, 241);
}

.subtituloProductos {
  display: flex;
  margin-top: 15px;
  margin-bottom: 15px;
  justify-content: center;
}
.subtituloProductos h2 {
  display: block;
  color: white;
  font-size: 2rem;
}

.tarjetaError {
  background-color: rgba(10, 189, 224, 0.2);
  height: 250px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 2.2rem;
}
.tarjetaError .contenedorMensaje {
  height: 100%;
  padding-top: 50px;
}

.tituloCarrito {
  background-color: rgba(23, 205, 233, 0.2);
  margin-top: 10px;
  margin-bottom: 10px;
  height: 60px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tituloCarrito h1 {
  font-size: 2.5rem;
}

.contenedorTabla {
  display: flex;
  justify-content: center;
}

table {
  height: auto;
  width: 100%;
}
table thead {
  background: rgba(138, 43, 226, 0.2);
}
table thead th {
  height: 50px;
  width: 200px;
  font-size: 2rem;
}
table tbody {
  background-color: rgba(172, 240, 14, 0.2);
}
table tbody td {
  height: 50px;
  width: 200px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}
table tbody .trTotal {
  background-color: rgba(0, 0, 0, 0.5);
  color: wheat;
}
table tbody .trTotal td {
  font-size: 2rem;
}
table .botonEliminar {
  margin-left: 20px;
  background-color: rgba(172, 240, 14, 0);
  border: none;
  cursor: pointer;
}

.contenedorBotonesDuo {
  display: flex;
  justify-content: flex-end;
  background-color: rgba(23, 205, 233, 0.2);
  height: 50px;
  align-items: center;
}
.contenedorBotonesDuo button {
  margin-right: 20px;
  height: 30px;
  width: 150px;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
}
.contenedorBotonesDuo button:hover {
  background-color: rgb(191, 209, 241);
  transition: 0.5s;
}

footer {
  background-image: url(../img/coposNieve.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
footer .contenedorFooter {
  color: white;
  font-weight: bold;
  font-size: 1.7rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

/*# sourceMappingURL=style.css.map */
