footer{
    background-image: url(../img/coposNieve.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: white;
    font-weight: bold;
}