* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
    font-family: "Montserrat", sans-serif;
  }

  .contenedor{
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
    min-width: 400px;
  }