header{
    background-image: url(../img/coposNieve.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
        .contenedorHeader{
        display: flex;
        height: 100%;
        justify-content: space-between;
        align-items: center;
        .contenedorBusqueda{
            display: flex;
            width: 50%;
            .botonBusqueda{
                font-size: 2rem;
                border-radius: 10px;
                height: 40px;
                width: 40px;
            }
            #busqueda{
                width: 100%;
                height: 40px;
                display: flex;
                align-items: center;
                border-radius: 10px;
                padding-left: 10px;
                
            }
        }
        .contenedorLogo{
            text-align: center;
            width: auto;
            a{
                font-size: 40px;
                color: white;
                text-decoration: none;
                font-weight: bold;
            }
        }
        .contenedorSeparador{
            width: 20%;
            display: flex;
            justify-content: space-around;
            a{
                text-decoration: none;
                color: black;
            }
            button{
                width: 40%;
                height: 40px;
                border-radius: 10px;
                cursor: pointer;
                
                &:hover{
                    background-color: rgb(191, 209, 241);
                    transition: .5s;
                }
                
            }
        }
        }

}