main{
    background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)) ,url(../img/fondoMain.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .categorias{
        background-color: rgb(191, 209, 241);
        display: flex;
        justify-content:center;
        align-items: center;
        height: 4vh;
        a{
            padding-left: 20px;
            font-size: 1.5rem;
            text-decoration: none;
            color: black;
            font-weight: bold;
            &:hover{
                color: white;
            }
        }
    }

    
}
#hero{
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/hero.jpg);
    height: 90vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 15px;

    .tituloHero{
        color: rgb(191, 209, 241);
        font-size: 3rem;
        font-weight: bold;
    }
    .subtituloHero{
        color: rgb(191, 209, 241);
        font-size: 2rem;
        font-weight: bold;
    
    }
}