.contenedorCard{
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    .tarjetas{
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(52,161,237,0.5438550420168067) 0%, rgba(0,212,255,0.4374124649859944) 100%);
        border:  1px solid;
        border-radius: 10px;
        width: 156px;
        height: 300px;
        gap: 10px;
        font-size: 1.5rem;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        color: white;
        &:hover{
            border: 1px solid rgb(130, 195, 238);
        }
        .tarjetaImagen{
            display: block;
            
            img{
                filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
                width: 90px;
                height: 90px;
            }
        } 

        .tarjetaNombre{
            display: block;
            height: 40px;
            
        }

        .tarjetaPrecio{
            display: block;
            
        }

        .tarjetaTipo{
            display: block;
            height: 40px;
        }

        .tarjetaBoton{
            display: block;
            
        }
            
        .button{
            border: 1px solid blue;
            border-radius: 5px;
            width: 40px;
            height: 30px;
            cursor: pointer;
            &:hover{
             background-color:rgb(191, 209, 241)
            }
        }
    }
}

.subtituloProductos{
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
    justify-content: center;
    h2{
        display: block;
        color: white;
        font-size: 2rem;
    }

}
.tarjetaError{
    background-color: rgba(10, 189, 224, .2);
    height: 250px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 2.2rem;
    .contenedorMensaje{
        height: 100%;
        padding-top: 50px;
    }
}